{% block stylesheets %}
    <link href="../../assets/styles/app.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <footer class="container-fluid bg-success bg-gradient" id="footer_background">
        <div class="d-flex justify-content-evenly">
            <div class="p-2 my-3">
                <a class="fs-3"href="/">
                    <img class="rounded-5 bg-white" src="{{ asset('images/pharmazen.svg') }}" width="48" height="48" alt="Logo">
                    PharmaZen
                </a>
                <hr class="border border-dark border-3 opacity-100">
                <a class="footer_a" href="https://maps.app.goo.gl/MGmHthEjKxY9E1EL8">
                    41 Avenue des Prées <br>
                    78180 Montigny-le-bretonneux
                </a>
                <br>
                <br>
                <a class="footer_a" href="tel:+330769483435">
                    Tel : 07 69 48 34 35
                </a>
                <br>
                <a class="footer_a" href="nimportequoi@example.com">
                    nimportequoi@example.com
                </a>
            </div>
            <div class="d-flex">
                <div class="p-2 my-3">
                    <a class="footer_a" href="/medicament">
                        <h1 class="fs-5">Médicaments</h1>
                    </a>
                    <hr class="border border-dark border-3 opacity-100">
                    <a class="footer_a" href="#">Vitalité</a><br>
                    <a class="footer_a" href="#">Ophtalmologie</a><br>
                    <a class="footer_a" href="#">ORL</a><br>
                    <a class="footer_a" href="#">Bucco-dentaire</a><br>
                    <a class="footer_a" href="#">Gastro-entérologie</a><br>
                    <a class="footer_a" href="#">Circulation & coeur</a><br>
                    <a class="footer_a" href="#">Appareil urinaire</a><br>
                    <a class="footer_a" href="#">Douleurs & Fièvre</a><br>
                    <a class="footer_a" href="#">Gynécologie</a><br>
                    <a class="footer_a" href="#">Dermatologie</a><br>
                    <a class="footer_a" href="#">Premiers soins</a><br>
                    <a class="footer_a" href="#">Antiparasitaires</a><br>
                    <a class="footer_a" href="#">Homéopathie</a><br>
                    <a class="footer_a" href="#">Médicaments sur réservation</a>
                </div>
                <div class="p-2 my-3">
                    <a class="footer_a" href="Parapharmacie footer_a">
                        <h1 class="fs-5">Parapharmacie</h1>
                    </a>
                    <hr class="border border-dark border-3 opacity-100">
                    <a class="footer_a" href="#">Santé</a><br>
                    <a class="footer_a" href="#">Nature</a><br>
                    <a class="footer_a" href="#">Nutrition</a><br>
                    <a class="footer_a" href="#">Sport</a><br>
                    <a class="footer_a" href="#">Minceur</a><br>
                    <a class="footer_a" href="#">Hygiène & Soins</a><br>
                    <a class="footer_a" href="#">Intime</a><br>
                    <a class="footer_a" href="#">Maquillage & Parfumerie</a><br>
                    <a class="footer_a" href="#">Soleil & Voyage</a><br>
                    <a class="footer_a" href="#">Maman & Bébé</a><br>
                    <a class="footer_a" href="#">Accessoires & Premiers soins</a><br>
                    <a class="footer_a" href="#">Cadeaux</a>
                </div>
                <div class="p-2 my-3">
                    <a class="footer_a" href="Veterinaire">
                        <h1 class="fs-5">Vétérinaire</h1>
                    </a>
                    <hr class="border border-dark border-3 opacity-100">
                    <a class="footer_a" href="#">Orthopédie</a><br>
                    <a class="footer_a" href="#">Podologie</a><br>
                    <a class="footer_a" href="#">Contention</a><br>
                    <a class="footer_a" href="#">Oncologie</a><br>
                    <a class="footer_a" href="#">Incontinence</a><br>
                    <a class="footer_a" href="#">Maintien à domicile</a><br>
                    <a class="footer_a" href="#">Consommables médicaux</a><br>
                    <a class="footer_a" href="#">Post-opératoire</a><br>
                    <a class="footer_a" href="#">Droguerie & Préparatoire</a><br>
                </div>
                <div class="p-2 my-3">
                    <a class="footer_a" href="Materiel medical">
                        <h1 class="fs-5">Matériel médical</h1>
                    </a>
                    <hr class="border border-dark border-3 opacity-100">
                    <a class="footer_a" href="#">Traitement de l'habitat</a><br>
                    <a class="footer_a" href="#">Alimentation animale</a><br>
                    <a class="footer_a" href="#">Antiparasitaires</a><br>
                    <a class="footer_a" href="#">Hygiène animale</a><br>
                    <a class="footer_a" href="#">Santé animale</a>
                </div>
            </div>
            <div class="p-2 my-3">
                <a class="footer_a" href="Services">
                    <h1 class="fs-5">Nos services</h1>
                </a>
                <hr class="border border-dark border-3 opacity-100">
                <a class="footer_a" href="#">Actualités</a><br>
                <a class="footer_a" href="#">Conseils</a><br>
                <a class="footer_a" href="#">Cartes épidémiques</a><br>
                <br>
                <a class="footer_a" href="Services">
                    <h1 class="fs-5">Notre pharmacie</h1>
                </a>
                <hr class="border border-dark border-3 opacity-100">
                <a class="footer_a" href="#">Qui sommes-nous ?</a><br>
                <a class="footer_a" href="#">Nos horaires</a><br>
                <a class="footer_a" href="#">Pharmacies de garde</a><br>
            </div>
        </div>
        <hr class="container border border-dark border-3 opacity-100">
        <div class="container d-flex justify-content-evenly py-2">
            <div class="p-2 flex-sm-grow-1">
                <div class="rounded-5 bg-warning bg-gradient text-center">
                    <p>Suivez-nous sur les réseaux !</p>
                </div>
                <div class="d-flex justify-content-evenly">
                    <div class="rounded-5 bg-white">
                    <a class="" href=""><img src="{{ asset('images/facebook.svg') }}" width="48" height="48" alt="Facebook"></a>
                    </div>
                    <div class="rounded-5 bg-white">
                    <a class="" href=""><img src="{{ asset('images/instagram.svg') }}" width="48" height="48" alt="Instagram"></a>
                    </div>
                    <div class="rounded-5 bg-white">
                    <a class="" href=""><img src="{{ asset('images/linkedin.svg') }}" width="48" height="48" alt="LinkedIn"></a>
                    </div>
                </div>
            </div>
            <div class="p-2">
                Paiement sécurisé : <img src="{{ asset('images/payment.png') }}" width="160" height="94" alt="Payement">
            </div>
            <div class="p-2">
                <a class="footer_a" href="">Mentions légales</a><br>
                <a class="footer_a" href="">CGVU</a><br>
                <a class="footer_a" href="">Politique de confidentialité</a><br>
                <a class="footer_a" href="">Gestion des cookies</a>
            </div>
        </div>
    </footer>
{% endblock %}
