{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Courriel</th>
                <th>DOB</th>
                <th>Id</th>
                <th>Allergies</th>
                <th>Numero_secu</th>
                <th>Assurance</th>
                <th>Assurance_name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.courriel }}</td>
                <td>{{ client.DOB ? client.DOB|date('Y-m-d') : '' }}</td>
                <td>{{ client.id }}</td>
                <td>{{ client.allergies }}</td>
                <td>{{ client.numeroSecu }}</td>
                <td>{{ client.assurance ? 'Yes' : 'No' }}</td>
                <td>{{ client.assuranceName }}</td>
                <td>
                    <a href="{{ path('app_client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('app_client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_client_new') }}">Create new</a>
{% endblock %}
